.example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar {
    display:flex;
    position: fixed;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
}